
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #deebf8;
  font-weight: 600;
  padding-left: 50px;
}

.nav--title {
  text-decoration: none;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

.main {
  padding: 57px 27px;
  color: white;
  background-image: url("./images/react-icon-large.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size:contain;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
  text-align: center;
}

.main--facts {
  margin-top: 46px;
  margin-left: 100px;
  margin-right: 100px;
}


.main--facts > li {
  line-height: 24px;
  padding-block: 10px;
  font-size: 18px;
}

.main--facts > li::marker {
  font-size: 1.5rem;
  color: #61dafb;
}
